#index a {
    color: rgb(255, 59, 228);
    text-decoration-color: rgb(255, 59, 228);
}

.highlight a {
    color: rgb(255, 59, 228);
    text-decoration-color: rgb(255, 59, 228);
}

#index .dropdown-content {
    visibility: visible;
}